<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, "Create a cocktail"%>
<% end %>


<p><%= link_to "<= back", root_path %></p>
